<%include ./common/header.html %>
  <h1><%= title %></h1>
  <p class="ddd">Welcome to <%= title %></p>
<script>
  $(function(){
      var EC_URL = 'http://120.77.209.176:38000';
      $(".ddd").click(function(){
          $.ajax({
              type: "POST",
              url: EC_URL+"/auth/member/login",
              data: "user_name=15817390700&user_psw=123456",
              success: function(res){
                  alert(  res.msg );
              }
          });
      })
  })

</script>
<%include ./common/footer.html %>
