<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>一大批商城</title>
    <meta name="Keywords" content="一大批" />
    <meta name="Description" content="B2B商城" />
    <!--<meta name="baidu-site-verification" content="P2AA4nX3jc" />-->
    <script type="text/javascript">
        //缩放比例
        if(/Android (\d+\.\d+)/.test(navigator.userAgent)){
            var version = parseFloat(RegExp.$1);
            if(version>2.3){
                var phoneScale = parseInt(window.screen.width)/640;
                document.write('<meta name="viewport" content="width=640, minimum-scale = '+ phoneScale +', maximum-scale = '+ phoneScale +', target-densitydpi=device-dpi">');
            }else{
                document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
            }
        }else{
            document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
        }
    </script>
    <meta name="format-detection" content="telephone=no" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>